[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendors/libdshowcapture/libdshowcapture"]
	path = vendors/libdshowcapture/libdshowcapture
	url = https://github.com/obsproject/libdshowcapture.git
